<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../style.css" />
        <title>JuantteContacto</title>
    </head>
    <body>
        <header>
            <div class="bar"></div>
            <div class="bar">
                <H1><a href="../index.html">juantte</a></H1>
            </div>

            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>

            <div class="bar">
                <H1><a href="tipo.html">tipografia</a></H1>
            </div>
            <div class="bar">
                <H1><a href="videojuego.html">videojuego</a></H1>
            </div>
            <div class="bar">
                <H1><a href="contacto.html">contacto</a></H1>
            </div>
        </header>

        <div id="logo">
            <h5>6604414290</h5>
            <a class="aa" href="https://www.instagram.com/juantte.d/"
                >@juantte.d</a
            >
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script>
            document.addEventListener("mousemove", variaFuente);
            function variaFuente(e) {
                var wt = 400 + (500 / (screen.width + 1)) * e.screenX;
                var ct = 1 + (100 / (screen.height - 75 + 1)) * e.screenY - 10;
                console.log(wt, ct);
                var ourcss = '"ctrs" ' + ct + ', "wght" ' + wt;
                $("#logo").css("font-variation-settings", ourcss);
                $("#ct").text(parseInt(ct, 10));
                $("#wt").text(parseInt(wt, 10));
            }
        </script>
    </body>
</html>
