<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../style.css" />
        <title>JuantteVideojuego</title>
        <title>Space Invaders</title>
        <script type="text/javascript" src="../js/Sprites.js"></script>
        <script type="text/javascript" src="../js/Entidad.js"></script>
        <script type="text/javascript" src="../js/EntidadNave.js"></script>
        <script type="text/javascript" src="../js/EntidadDisparo.js"></script>
        <script type="text/javascript" src="../js/EntidadAlien.js"></script>
        <script type="text/javascript" src="../js/Juego.js"></script>
        <script>
            var temporizador;
            var juego;
            function inicio() {
                juego = new Juego();

                //Enlazamos los eventos de teclado
                document.onkeydown = function(e) {
                    juego.pulsarTecla(e);
                };
                document.onkeyup = function(e) {
                    juego.soltarTecla(e);
                };

                juego.constructor("contexto");
                temporizador = setInterval("juego.controlLoop();", 25);
            }
            function log(texto, nueva) {
                var capa = document.getElementById("log");
                if (nueva) capa.innerHTML += "<br/>" + texto;
                else capa.innerHTML = texto;
            }
            function parar() {
                clearInterval(temporizador);
            }
        </script>
    </head>
    <body>
        <header>
            <div class="bar"></div>
            <div class="bar">
                <H1><a href="../index.html">juantte</a></H1>
            </div>

            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>

            <div class="bar">
                <H1><a href="tipo.html">tipografia</a></H1>
            </div>
            <div class="bar">
                <H1><a href="videojuego.html">videojuego</a></H1>
            </div>
            <div class="bar">
                <H1><a href="contacto.html">contacto</a></H1>
            </div>
        </header>
	<body onload="inicio();">
		<canvas class="margin" id="contexto"></canvas>
		<br/>
		<ul class="lista">
			<li><code>Cursores</code> para mover la nave de izquierda a derecha.
			<li><code>Espacio</code> para disparar.
			<li><code>Enter</code> para empezar de nuevo cuando finalice la partida.
		</ul>
		<button class="boton" onclick="parar();">Parar</button>
		<div id="log"></div>
		
	</body>
</html>